name: Firmware CI Checks

on:
  push

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true

jobs:
  building:
    name: Building
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v3

      - name: Setup Rust toolchain
        run: rustup show

      - run: cargo install flip-link
      - run: cargo build -p ledmatrix
      - run: cargo build -p b1display
      - run: cargo build -p c1minimal
      - run: cargo build -p ledmatrix --release
      - run: cargo build -p b1display --release
      - run: cargo build -p c1minimal --release

      - run: |
            sudo apt-get update
            sudo apt-get install -y libudev-dev
            cargo install elf2uf2-rs
            elf2uf2-rs target/thumbv6m-none-eabi/release/b1display b1display.uf2
            elf2uf2-rs target/thumbv6m-none-eabi/release/c1minimal c1minimal.uf2
            elf2uf2-rs target/thumbv6m-none-eabi/release/ledmatrix ledmatrix.uf2

      - name: Upload Linux tool
        uses: actions/upload-artifact@v3
        with:
          name: inputmodule_fw
          path: |
            b1display.uf2
            c1minimal.uf2
            ledmatrix.uf2

  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Rust toolchain
        run: rustup show

      - run: |
          cargo clippy -p b1display -- --deny=warnings
          cargo clippy -p c1minimal -- --deny=warnings
          cargo clippy -p ledmatrix -- --deny=warnings

  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Rust toolchain
        run: rustup show

      - run: cargo fmt --all -- --check
